html {
    background-color:black;
}

header {
    color: white;
    font-size: 50px;
    text-align: center;
    font-weight: 1000;
}

body{
      font-size:20px;
      color:white;
      text-align:center;
  }
.video1 {
    text-align: center;
    position: relative;
    z-index: -1;
}

hr{
background-color:white;

}
